/* Shared Styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}
.primary-color {
  color: #e95a08;
}
.primary-description {
  font-family: inter;
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
}
.section-title {
  font-family: noto serif;
  font-size: 3.125rem;
}

/* Header Section Styles  */
.header {
  max-width: 1140px;
  margin: 30px 150px 120px;
}

/* Navbar Styles  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
.links {
  display: flex;
  gap: 48px;
}
.link-item {
  list-style: none;
  font-family: inter;
}
.link {
  text-decoration: none;
  color: #8987a1;
  font-weight: bold;
}
.links .link-item:first-child a {
  color: #252432;
}

/* Banner Styles */
.banner {
  display: flex;
  align-items: end;
}
.banner-left h1 {
  font-family: noto serif;
  font-size: 4.0625rem;
  margin-bottom: 13px;
}

.banner-right img {
  display: block;
}

/* Our Plants Section Styles  */
.our-plants {
  max-width: 1140px;
  margin: 0 auto;
}
.our-plants-texts {
  text-align: center;
}
.our-plants-texts h3 {
  margin-bottom: 16px;
}
.our-plants-texts p {
  max-width: 888px;
  margin: 0 auto;
}
.our-plants-container {
  margin-top: 49px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}
.card img {
  width: 100%;
}
.card-content {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  text-align: center;
}
.card-title {
  font-family: inter;
  font-weight: 500;
  font-size: 1.375rem;
  margin-bottom: 20px;
  color: #111111;
}
.card-price {
  font-family: inter;
  font-weight: bold;
  font-size: 1.375rem;
  color: #111111;
  margin-bottom: 30px;
}
.card button {
  font-family: inter;
  font-weight: 600;
  color: #fff;
  background-color: #e95a08;
  border: none;
  padding: 19px 80px;
  transition: background-color 0.1s ease-in;
}
.card button:hover {
  background-color: #e975328c;
  color: black;
  cursor: pointer;
}

/* Trusted Seller Section Styles */
.trusted-seller {
  max-width: 1140px;
  margin: 210px auto 0;
  display: flex;
  align-items: center;
  gap: 90px;
  position: relative;
}
.col-right li {
  margin-left: 30px;
  margin-top: 20px;
}
.badge {
  position: absolute;
  top: -125px;
  left: 350px;
  max-width: 286px;
  max-height: 286px;
}
@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.badge img {
  width: 100%;
  animation: spin 4s infinite linear;
}

/* Latest Deal Section Styles */
.latest-deal {
  max-width: 1140px;
  margin: 134px auto 120px;
}
.latest-deal-texts {
  text-align: center;
  margin-bottom: 120px;
}
.latest-deal-texts h3 {
  margin-bottom: 16px;
}
.latest-deal-texts p {
  max-width: 888px;
  margin: 0 auto;
}
.latest-deal-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 423px;
  column-gap: 28px;
}
.latest-deal-container .col-left {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 25px;
}
.box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../assets/deal-bloom.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../assets/deal-ana.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.latest-deal-container .col-left p {
  font-family: noto serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}
.latest-deal-container .col-left button {
  font-family: inter;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
}
.latest-deal-container .col-right {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../assets/deal-zabo.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}
.latest-deal-container .col-right p {
  font-family: noto serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
}
.latest-deal-container .col-right .btn {
  font-family: inter;
  font-weight: 600;
  font-size: 1.75rem;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
}

/* Join Section Styles  */
.join {
  min-height: 533px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.join h3 {
  color: white;
  margin-bottom: 23px;
}
.input-field {
  display: flex;
}
.input-field input {
  font-family: inter;
  width: 644px;
  outline: none;
  padding: 8px 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  border: none;
}
.input-field button {
  font-family: inter;
  font-weight: 600;
  color: white;
  background-color: #e95a08;
  padding: 26px 50px;
  border: none;
  transition: background-color 0.1s ease-in;
}
.input-field button:hover {
  background-color: #ff0000;
  color: black;
  cursor: pointer;
}

/* Footer Section Styles */
.footer {
  max-width: 1120px;
  margin: 50px auto;
  display: flex;
  gap: 100px;
}
.col-1 p {
  margin-top: 16px;
  max-width: 359px;
}
.col-2 {
  display: flex;
}
.footer ul li {
  list-style: none;
  margin-bottom: 32px;
}
.footer li a {
  text-decoration: none;
  color: #6b7280;
  font-family: inter;
}

.col-4 img {
  margin-right: 24px;
}







/* Small Device Styles  */

@media screen and (max-width: 576px) {
  /* Navbar Styles  */
  .header {
    margin: 0px;
  }
  .navbar {
    margin: 10px 16px 0;
  }
  .brand-logo img {
    width: 63px;
    height: 38px;
  }
  .links {
    gap: 0;
  }
  .link {
    display: none;
  }

  /* Banner Styles  */
  .banner {
    flex-direction: column-reverse;
  }
  .banner-right img {
    width: 100%;
    margin: 28px 0;
  }
  .banner-left {
    margin: 0 16px;
  }
  .banner-left h1,
  .our-plants-texts h3,
  .col-right h3,
  .latest-deal-texts h3 {
    font-size: 1.5rem;
  }
  .banner-left p,
  .our-plants-texts p,
  .col-right li,
  .latest-deal-texts p {
    font-size: 0.875rem;
  }

  /* Our Plants Section Syles  */
  .our-plants {
    margin: 65px 10px 0;
  }

  .our-plants-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 28px;
  }
  .card img {
    width: 100%;
  }
  .card-title,
  .card-price {
    font-size: 1rem;
  }
  .card button {
    padding: 17px;
  }

  /* Trusted Seller Section Styles */
  .trusted-seller {
    flex-direction: column;
    margin: 50px 16px 0;
    gap: 18px;
  }
  .col-left img {
    width: 100%;
  }
  .col-right li {
    margin-left: 18px;
  }
  .badge {
    display: none;
  }

  /* Latest Deal Section Styles  */
  .latest-deal {
    margin-bottom: 0;
  }
  .latest-deal-texts {
    margin: 0 28px 50px;
  }
  .latest-deal-container {
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 0 16px;
  }
  .latest-deal-container .col-right {
    min-height: 199px;
  }
  .latest-deal-container .col-right p {
    font-family: noto serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
  }
  .latest-deal-container .col-right .btn {
    font-size: 1rem;
  }

  /* Join Section Styles  */
  .join {
    min-height: 276px;
    margin-top: 40px;
  }
  .join h3 {
    font-size: 1.25rem;
  }
  .input-field input {
    max-width: 218px;
    color: rgba(0, 0, 0, 0.4);
  }
  .input-field button {
    padding: 15px 10px;
  }

  /* Footer Section Styles  */
  .footer{
    flex-direction: column;
    gap: 0;
    margin-left: 20px;
    
  }
  .col-1 p{
    font-size: 1rem;
    margin-bottom: 20px;
  }
}
